{% extends "base.html" %}
{% block title %}Masters{% endblock %}
{% block content %}
<html>
 <style>
	div.transbox {
		margin-top: 10px;
		margin-left: 300px;
		margin-right: 300px;
		height: 500px;
		background-color: #000000;
		opacity: 0.7
	}

	div.transbox h1 {
		margin: 5%;
		font-weight: bold;
		color: #ffffff;
	}

	div.transbox ul {
		list-style-type: upper-roman;
		font-family: Palatino;
		font-weight: normal;
		color: #ffffff;
	}
 </style>
 <body>
 	<div class="transbox">
 		<h1 style="font-family:Palatino"> Rules: </h1>
 		<ul class="c">
 			<li>Pick 7 Golfers(1 from Tier 1, 2 from tier 2, 2 from tier 3, 2 from tier 4) </li>
 			<li>Your golfers lowest 5 scores will be combined creating your teams total score</li>
 			<li>Lowest combined score to par wins(Money awarded to 1st, 2nd, and 3rd)</li>
 			<li>In result of a tie, tie breaker will be lowest final round combined score</li>
 			<li>If tie persists then tie breaker will be whoevers 6th golfer had the lower score. (if tie persists we will figure it out)</li>
 			<li>Have picks submitted by Wednesday, November 11th @11:59PM</li>
 			<li>Must Venmo Craig_Glassbrenner $x before first group tees off, if not your lineup will be deleted. </li>
 		</ul>
 	</div>
 </body>
 </html>
 {% endblock %}